// compress: true
@import "vars";

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: @black;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: @black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// blocks
@import "blocks/container.less";
@import "blocks/header.less";
@import "blocks/headerUser.less";
@import "blocks/headerNav.less";
@import "blocks/intro.less";
@import "blocks/portfolio.less";
@import "blocks/biography.less";
@import "blocks/reviews.less";
@import "blocks/news.less";
@import "blocks/footer.less";
@import "blocks/modals.less";
@import "blocks/modalWork.less";
@import "blocks/modalResume.less";
@import "blocks/modalContacts.less";
@import "blocks/jqueryClasses.less";
