// main: ../style.less
.header__nav {
  display: flex;
  align-items: center;
}
.nav__link {
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 1.7rem;
  border-bottom: 2px transparent solid;
}

.nav__link:hover {
  border-bottom: 2px @black solid;
}

.nav__btn {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 1.7rem;
  border: 2px @black solid;
  border-radius: 20px;
  padding: 11px 30px 9px 30px;
}
