// main: ../style.less

.header__user {
  display: flex;
}

.header__user-avatar {
  width: 57px;
  height: 57px;
  img {
    border-radius: 50%;
  }
}

.header__user-content {
  padding-left: 10px;
}

.header__user-name {
  color: @black;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
}

.header__user-prof {
  font-size: 1.2rem;
  color: fade(@black, 70%);
}
